{
  "admin-token": "{{ admin_token }}",
  "service-password": "{{ service_password }}",
  "admin-password": "{{ admin_password }}",
  "interfaces": {
    "control": "{{ interfaces_control }}",
    "public": "{{ interfaces_public }}"
  },
  "database": {
    "host": "{{ database_host }}",
    "password": "{{ database_password }}"
  },
  "openstack": {
    "public_address": "{{ openstack_public_address }}",
    "admin_address": "{{ openstack_admin_address }}",
    "internal_address": "{{ openstack_internal_address }}"
  },
  "keystone": {
    "release": "{{ keystone_release }}",
    "host": "{{ keystone_host }}"
  },
  "rabbit": {
    "host": "{{ rabbit_host }}",
    "password": "{{ rabbit_password }}"
  },
  "glance": {
    "release": "{{ glance_release }}",
    "host": "{{ glance_host }}"
  },
  "nova": {
    "release": "{{ nova_release }}",
    "host": "{{ nova_host }}",
    "libvirt_type": "{{ nova_libirt_type }}",
    "compute_driver": "{{ nova_compute_driver }}",
    "network": {
      "floating": "{{ nova_networking_floating }}",
      "private": "{{ nova_networking_private }}",
      "private_interface": "{{ nova_networking_private_interface }}",
      "public_interface": "{{ nova_networking_public_interface }}",
      "flat_interface": "{{ nova_network_flat_interface }}",
      "my_ip": "{{ nova_network_my_ip }}"
    }
  },
  "cinder": {
    "release": "{{ cinder_release }}"
  },
  "quantum": {
    "release": "{{ quantum_release }}",
    "host": "{{ quantum_host }}"
  },
  "horizon": {
    "release": "{{ horizon_release }}"
  },
  "tempest": {
    "release": "{{ tempest_release }}"
  }
}
